<div class="container">
  <div class="row">
    <div class="col-8">
      <h1><%= @flight.destination %></h1>
      <p><%= @flight.description %></p>
      <p>Date: <%= @flight.date %></p>
      <p>Departure time: <%= @flight.time.strftime("%H:%M") %></p>
      <p>Journey Duration: <%= @flight.duration %> hours</p>
      <p>Total £<%= @flight.price %></p>
      <%= link_to "Book this flight", new_flight_booking_path(@flight) %>
      <%= link_to "Back to all flights", flights_path %>
    </div>
  </div>
</div>
