<h1>Confirm your trip to <%= @flight.destination %> </h1>
<%= simple_form_for [@flight, @booking] do |f| %>
  <%= f.input :name, label: 'Passenger\'s Full Name' %>
  <%= f.association :flight, collection: Flight.all.order(:destination), prompt: "Select a flight", input_html: { data: { controller: "tom-select" } } %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
