<div class="cover-confirm"></div>

<div class="container margin-top-negative">
  <div class="container mt-4">
    <div class="row">
      <div class="col-6 m-auto">
        <div class="booking-show-card">
          <div class="card-header">
            <h1>You're set to <strong><%= @flight.destination %></strong></h1>
          </div>

          <br>

          <div class="card-table">
            <table class="table">
              <tr>
                <th>Departure Time</th>
                <th>Flight No.</th>
                <th>Trip Duration</th>
                <th>Seats purchased</th>
                <th>Price</th>
              </tr>
              <tr>
                <td><%= @flight.time.strftime("%H:%M") %></td>
                <td>SSK1054</td>
                <td><i class="fa-regular fa-clock"></i> <%= @flight.duration %> hours</td>
                <td><%= @booking.seat %></td>
                <td>£<%= @flight.price * @booking.seat %></td>
              </tr>
            </table>
          </div>
          <br>
          <div class="book-show-btn-card">
            <%= link_to "Cancel booking", booking_path(@flight, @booking),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this booking?" },
                class: "btn-cancel" %>
            <%= link_to "See All Flights", flights_path, class: "btn-home" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
